*{
    margin: 0;
    padding: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-decoration: none;
    list-style: none;
 
    box-sizing: border-box;
}
 
*:focus {
  outline: 0 !important;
}

body{
  background-color: deepskyblue !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}
 
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
 
ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0; margin-bottom: 0;
}
 
strong {
  font-weight: bolder;
}
 
small {
  font-size: 80%;
}
 
h1{
  font-size: 2rem;
}
 
h2{
  font-size: 1.75rem;
}
 
h3{
  font-size: 1.5rem;
}
 
h4{
  font-size: 1.3rem;
}
 
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
 
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
 
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.fullAlto{height: 100%;}
.fullAltoVH{height: 100vh;}

.fullAncho{width: 100%;}
.fullAnchoVW{width: 100vw;}

/* Hide scrollbar */
.sidebar:hover{
	overflow-y: scroll;
}

.lienzoEscritorio:hover{
	overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}
.lienzoEscritorio::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.sidebar,.lienzoEscritorio {
  -ms-overflow-style: none;
}



.flex-row{
  display: flex;
  flex-direction: row;
}

.grid-lienzoEscritorio{
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}