/* === Navbar CSS ================================*/
.navbar{
	z-index: 1000;
	box-shadow: 1px 0 10px rgba(0, 0, 0, .2);

	width: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 32px;
}

.lista-navbar{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.lista-navbar-item{
	color: lightslategray;
	font-size: 32px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	padding: 4px 28px;
	border-radius: 8px;
	transition: all .3s;
	cursor: pointer;
}

.negroProfundo .lista-navbar-item{color: lightgray;}

.negroProfundo .lista-navbar-item:hover{color: white;}

.lista-navbar-item-active , .ant-tabs-ink-bar{
	/* Usa el mismo color q la clase Rosado */
	background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}
.lista-navbar-item-active svg{
	color: whitesmoke;
}

.ant-switch-checked{
	background-color: rgba(211, 211, 211, .2) !important;
}

/* === Sidebar CSS ================================*/
.sidebar{
	z-index: 900;
	width: 400px;
	overflow: hidden;
	transition: all .3s;
	padding: 0 16px;
}

.card-fire{
	width: 368px;
	height: 150px;

	margin-bottom: 16px;

	border-radius: 8px;
	box-shadow: 0 0 10px 0px rgba(0, 0, 0, .2);

	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0.95);
	transition: all .3s;
	cursor: pointer;
}
.card-fire div{
	width: 55%;
}

.card-fire-img{
	width: 120px;
	height: 120px;
	border-radius: 100px;
	border:3px solid whitesmoke;

	z-index: 15;
}
.card-fire:hover{
	transform: scale(1);
	opacity: 1;

}
.rosado .card-fire-hour,.rosado .card-fire-name,.rosado .card-fire-distance{
	color: whitesmoke;
	margin: 0;padding:0 0 0 16px;
	transition: all .3s;
}

.marmolFrio .card-fire-hour,.marmolFrio .card-fire-name,.marmolFrio .card-fire-distance{
	color: lightslategray;
	margin: 0;padding:0 0 0 16px;
	transition: all .3s;
}


.card-fire-hour{
	text-align: right;
}

.card-fire-btnLeft,.card-fire-btnRight{
	position: absolute !important;
	z-index: 10;
	transition: all .4s;

}

.card-fire-btnLeft{
	left: 50%;
}
.card-fire-btnRight{
	right: 50%;
}

.card-fire:hover .card-fire-btnLeft{
	left: 17%;
}
.card-fire:hover .card-fire-btnRight{
	right: 17%;
}

.card-fire:hover .card-fire-hour,.card-fire:hover .card-fire-name,.card-fire:hover .card-fire-distance{
	color: white;
}


/* === LiezoEscritorio CSS =======================*/

.lienzoEscritorio{
	z-index: 1000;
	overflow: hidden;
	box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
	width: calc(100vw - 500px);
}

.tile-avatar{
	display: flex;
	justify-content: center;
	align-items: center;

	width: calc(33.3% - 32px);
	height: 200px;
	margin:16px;

	background-color: rgba(245, 245, 245, .6);
	border-radius: 8px;
	transition: all .3s;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.tile-avatar:hover{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.tile-avatar-options{
	position: absolute;
	bottom: -50px;
	transition: all .3s;
}

.tile-avatar:hover .tile-avatar-options{
	bottom: 4px;
}

.tile-avatar-iconSize{
	font-size: 64px;
}
.tile-avatar-iconSize svg{
	color:lightslategray;
}

.navbar-lienzoEscritorio , .navbar-sidebar{
	height: 70px;
	padding: 0 32px 0 16px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.navbar-sidebar{
	padding: 0 0;
	flex-direction: row-reverse;
	margin-bottom: 15px;
}

.ant-tabs-tab{
	font-size: 18px;
	color:lightslategray !important;
}

.ant-tabs-tab-active{
	color:black !important;
}

.ant-tabs-tab:hover{
	color:black !important;
}

.negroProfundo .ant-tabs-tab-active{
	color:white !important;
}

.negroProfundo .ant-tabs-tab:hover{
	color:whitesmoke !important;
}